<div class="flex flex-col gap-3">
  <div class="m-3 border rounded p-3 flex flex-col gap-3">
    <div class="italic">Control Panel</div>
    <div class="flex flex-col gap-3">
      <input class="border py-3 px-1.5" [(ngModel)]="light.name" placeholder="Light Name ..."/>
      <input class="border py-3 px-1.5" [(ngModel)]="light.color" placeholder="Light Color ..."/>
      <button class="bg-blue-600 text-white rounded shadow p-3" (click)="lightService.addLight(light)">Ajouter</button>
    </div>
  </div>
  <div class="flex flex-col gap-3 border m-3 p-3 rounded">
    <div class="italic pb-3">Light Panel</div>
    <div class="flex gap-3">
      <div *ngFor="let light of lightService.getAllLight()">
        <app-light [light]="light" (trigger)="handleTrigger(light.id)" (toggled)="switchLight(light)"></app-light>
      </div>
    </div>
  </div>
</div>
